* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: none;
}

/* BODY_LAYOUT */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #e7e7e7;
}

/* Reset some basic elements */
body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* MAIN_CONTENT */
.mainContent {
  flex: 1;
  padding: 150px 50px 50px;
}

@media (max-width: 576px) {
  .mainContent {
    padding: 100px 0px 10px;
  }
}